spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        format_sql: true
    show-sql: true

jwt:
  secret: "${JWT_SECRET}"
  access-exp-seconds: 1800 # 30분
  refresh-exp-seconds: 2592000 # 30일


